.flc-prefsEditor-separatedPanel {
  height: 0;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  img {
    width: 60px;
    margin-right: .15em;
  }

  .ml-2 {
    color: $brand-primary;
    font-weight: 600;
    font-size: larger;
    line-height: 1em;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
}

.main-content {
  a {
    text-decoration: underline;
  }
}

.site-footer {
  .nav-link {
    color: $white;
  }
}