.flc-prefsEditor-separatedPanel {
  height: 0;
}

.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
  @include media-breakpoint-up(lg) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.bg-light {
  background-color: $white !important;
}

.navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  img {
    width: 80px;
  }

  .ml-2 {
    color: $brand-primary;
    font-size: 1.8rem;
    line-height: 0.7em;
    font-weight: 600;

    &:hover {
      color: $primary-shade;
    }
  }
}

.page-view-frontpage .navbar-brand .ml-2 {
  color: $primary-shade;
}

#block-welcomeblock {
  padding-top: 4rem;
  padding-bottom: 4rem;
  // max-width: 960px;
  // margin-left: auto;
  // margin-right: auto;
  
  h1 {
    color: $primary-light;
    font-family: 'Source Code Pro', monospace;
    font-stretch: -1;

    .pre-title {
      font-weight: bolder;
      &:after {
        content: '>';
        animation: blink 1s steps(2) infinite;
      }
    }
  }

  p {
    font-size: 1.4rem;
  }

  .highlight {
    color: #ef3b41;
  }
}

@keyframes blink {
  0% { opacity: 0; }
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  text-transform: uppercase;
  color: $primary-shade;
  padding-left: 1em;
  padding-right: 1em;
  

  @include media-breakpoint-down(lg) {
    &.is-active {
      background-color: yellow;
    }
  }
  
  @include media-breakpoint-up(lg) {
    border-bottom: 3px solid transparent;
    
    &.is-active {
      border-bottom-color: $brand-primary;
    }
  
    &:hover,
    &:focus {
      border-bottom-color: $primary-light;

    }  
  }

  
}

.main-content {
  a {
    text-decoration: underline;
  }
}

.site-footer {
  .nav-link {
    color: $white;
  }
}

/******************************************************
* ACCESSIBILITY MASTERLIST
*******************************************************/

#needs-filter {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.needs-filter-row {
  display: block;
  margin-bottom: (8px/15px)*1rem;
}

.count-characters {
  color: #666;
  font-weight: 600;
}

.needs-filter-cell {
  display: inline-block;
  vertical-align: middle;
}

.filter-button {
  overflow: hidden;
  margin-right: 0.5rem;
  border: 1px solid $primary-light;
  border-radius: 3px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  background-size: cover;
}

.filter-button:hover,
.filter-button.selected {
  border: 3px solid $brand-primary;
}

#blind-filter {
  background-image: url('../images/masterlist_icons/blind_icon.png');
}

#lv-filter {
  background-image: url('../images/masterlist_icons/low_vision_icon.png');
}

#cll-filter {
  background-image: url('../images/masterlist_icons/cll_icon.png');
}

#phy-filter {
  background-image: url('../images/masterlist_icons/phy_icon.png');
}

#dhoh-filter {
  background-image: url('../images/masterlist_icons/deaf_icon.png');
}
